[Desktop Entry]
Encoding=UTF-8
Name=CreaCoin
Comment=CreaCoin P2P Cryptocurrency
Comment[fr]=CreaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CreaCoin, eşten eşe kriptografik sanal para birimi
Exec=creacoin-qt %u
Terminal=false
Type=Application
Icon=creacoin128
MimeType=x-scheme-handler/creacoin;
Categories=Office;Finance;
